@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-family: Inter, system-ui, Avenir, Odibee Sans, Helvetica, Arial, sans-serif, Poppins;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-light: #213547;
  --color-text-hover: #747bff;
  --color-button-bg: #1a1a1a;
  --color-button-hover-bg: #f9f9f9;
}

body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  place-items: center;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button, input{
  outline: none;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-hover);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: var(--color-text-light);
    --color-primary-hover: #747bff;
    --color-button-bg: var(--color-button-hover-bg);
  }

  a:hover {
    color: var(--color-text-hover);
  }
}

.flex{
  display: flex;
}

.gap-2{
  gap:2rem;
}

.stickcy{
  position: sticky;
}
.top-0{
  top:0;
}
.left-0{
  left: 0;
}
