.card {
  background-color: #3b3b3b;
  padding: 10px;
  border-radius: 20px;
  height: 8rem;
  width: 85rem;
  margin-bottom: 20px;
  color: aliceblue;
  /* Additional styles to center the content */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.card:hover {
  background-color: #1b1b1b;
  cursor: pointer;
  scale: 1.05;
}
.card-content h1{
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.card-content{
  width: 100%;
}
.card-content p{
  font-size: 2.5rem;
}
.card-content h2{
  font-size: 2.5rem;
}
.searchResults_s{
  padding: 0px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.holder_title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}