html {
	font-size: 40%;
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
  }
  
  .view_mark {
	width: 100vw;
	height: 100vh;
	
	overflow: hidden;
	background-color: #ffffff;
  }

  .view_mark .logo {
	width: 6rem;  
	height: 4rem;
	position: absolute;
	left: 5rem;
	top: 0.5rem;
	z-index: 1;
	scale: 60%;
	background-size: 100% 120%;
	background-position: 0rem;
	background-image: url('../assets/logo.png');
	object-fit: cover;
	vertical-align: top;
  }
  .view_mark .usertype {
	width: 24.4rem;
	height: 6.7rem;
	position: absolute;
	left: 22rem;
	top: 5rem;
	z-index: 1;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1075;
	color: #050505;
	word-spacing: 0rem;
	font-family: 'Helvetica';
	white-space: nowrap;
  }
  .view_mark .line {
	width: 0.2rem;
	height: 5rem;
	position: absolute;
	z-index: 1;
	left: 18rem;
	top: 4.5rem;
	opacity: 45%;
	background-color: #000000;
  }
  .view_mark .logout{
	position: absolute;
	width: 8%;
	height: 6%;
	left: 215rem;
	top: 3.8rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;

}
  
  .view_mark .bgrect {
	width: 100vw;
	height: 15rem;
	z-index: 0;
	position: absolute;
	top: 0%;
	background-color: #9aaafffc;
}
.view_mark .goto_mem{
	position: absolute;
	
	left: 120rem;
	top: 4rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 700;
	z-index: 1;
	font-size: 1.1vw;
	line-height: 2.3;
	color: #00000050;
	background-color: #1d1d1d00;
	border-radius: 10px;

}
.view_mark .goto_cal{
	position: absolute;

	left: 141rem;
	top: 4rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.1vw;
	line-height: 2.3;
	color: #000000;
	background-color: #1d1d1d00;
	border-radius: 10px;

}

.view_mark .goto_doc{
	position: absolute;
	
	left: 158rem;
	top: 4rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.1vw;
	line-height: 2.3;
	color: #000000;
	background-color: #1d1d1d00;
	border-radius: 10px;

}
.view_mark .goto_mark{
	position: absolute;
	
	left: 179rem;
	top: 4rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.1vw;
	line-height: 2.3;
	color: #000000;
	background-color: #1d1d1d00;
	border-radius: 10px;

}

.view_mark .goto_ann{
	position: absolute;
	
	left: 190rem;
	top: 4rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.1vw;
	line-height: 2.3;
	color: #000000;
	background-color: #1d1d1d00;
	border-radius: 10px;

}