html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.forgot {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.forgot .title {
    position: relative;
	width: 120rem;
	height: 4%;
	align-content: center;
	left: calc(55% - 30%);
	top: 22%;
    z-index: 1;
	font-size: 4.5rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #292929;
}
.forgot .question{
    width: 45%;
	height: 4%;
    position: absolute;
	left : 67rem;
	top: 45%;
	font-size: 3rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #000000;
}
.forgot .bgrect {
	width: 100vw;
	height: 15rem;
	position: relative;
	top: -5rem;
	background-color: rgba(154, 170, 255, 0.9900000095);
}
.forgot .password{
    width: 40%;
	height: 6%;
    position: absolute ;
	left : 70rem;
	top: 35%;
	font-size: 3rem;
	font-family: 'Helvetica';
	font-weight: 500;
	color: #000000; 
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 10px;
}
.forgot .repassword{
    width: 40%;
	height: 6%;
    position: absolute ;
	left : 70rem;
	top: 53%;
	font-size: 3rem;
	font-family: 'Helvetica';
	font-weight: 500;
	color: #000000; 
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 10px;
}

.forgot .submit {
	position: absolute;
	width: 15%;
	height: 6%;
	left:103rem;
	top: 80rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	font-size: 1.2vw;
	line-height: 1;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;

}










