html {
	font-size: 40%;
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
  }
  
  .student {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	background-color: #ffffff;
  }
  .student .title{
	position: absolute;
	width: 45%;
	height: 5%;
	align-content: center;
	left: calc(55% - 30%);
	top: 25%;
    z-index: 1;
	
	font-size: 6rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #000000;
  }
  .student .logo {
	width: 6rem;  
	height: 4rem;
	position: absolute;
	left: 3rem;
	top: 0.8rem;
	z-index: 1;
	scale: 60%;
	background-size: 100% 120%;
	background-position: 0rem;
	background-image: url('../assets/logo.png');
	object-fit: cover;
	vertical-align: top;
  }
  .student .usertype {
	width: 24.4rem;
	height: 6.7rem;
	position: absolute;
	left: 15rem;
	top: 5rem;
	z-index: 1;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1075;
	color: #050505;
	word-spacing: 0rem;
	font-family: Helvetica;
	white-space: nowrap;
  }
  .student .line {
	width: 0.2rem;
	height: 5rem;
	position: absolute;
	z-index: 1;
	left: 15rem;
	top: 4.5rem;
	opacity: 45%;
	background-color: #000000;
  }
  .student .logout{
	position: relative;
	width: 8%;
	height: 6%;
	left: 215rem;
	top: 0rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;

}
.student .create{
	position: relative;
	width: 15%;
	height: 6%;
	left: 175rem;
	top: -6.7rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;
}
.student .msg{
	position: absolute;
	width: 45%;
	height: 5%;
	align-content: center;
	left: calc(55% - 30%);
	top: 50%;
    z-index: 1;
	
	font-size: 6rem;
	font-family: 'Arial';
	font-weight: 500;
	color: #000000;
  }
.student .create2{
	position: relative;
	width: 18%;
	height: 6%;
	left: 39%;
	top: 55%;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	z-index: 1;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;

}
  .student .bgrect {
	width: 100vw;
	height: 15rem;
	z-index: 0;
	position: absolute;
	top: 0rem;
	background-color: #9aaafffc;
}
.student.Dashboard {
	color: black;
	transform: translate(50px,50px);
}
.projectsmap{
	transform: translateY(33rem);
	padding-top: 2rem;
}