
html {
	font-size: 40%;
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
  }
  
  .details {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
  }
  .details .pname {

	position: relative;
	display: flex;
	align-items: center;
	width: 20%;
	height: 10%;
	left: 44%;
	top: 17%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 600;
	font-size: 3vw;
	line-height: 1.2;
	color: #050505;
}